# Uses Docker Hub credentials stored as GitHub Secrets
name: CI Docker Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image

      - name: Push Docker image
        run: docker push jkanodev/joey-web-app:latest
        run: docker build -t jkanodev/joey-web-app:latest ./app

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 100.48.72.4
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user
            ./deploy.sh
